/**************** Helpers ****************/

/********** Flex **********/

.flex {
    display: flex;
}

.flex1 {
    display: flex;
    .full {
        flex: 1;
    }
}

.space-between {
    justify-content: space-between;
}

.space-even {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.space-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}