// Colors
$clr0: #141414;
$clr1: #383832;
$clr1b: #1a1a18;
$clr2: #182f53;
$clr3: #243b6d;
$clr3bc: #6ea9da;
$clr3br: #4e95e4;
$clr4: #6c90d1;
$clr4h: #8baeee;
$clr5: #f0f0e6;
$clr6: #f8f6f1;
$clr7: #ffffff;